.container {
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--font-family);
    color: var(--main);
    line-height: 150%;

    gap: 100px;
}

.contentSection {
    display: flex;
    justify-content: center;

    gap: 24px;
}

.gallery {
    width: 100%;
}

.mainInfo {
    height: 680px;
}



.titlesBlock,
.vehicleDetailsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    border-radius: 16px;
    padding: 24px;
    background: var(--inputs);
    gap: 16px;
}

.titlesBlock {
    margin-bottom: 16px;
}

.subHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-top: -8px;
}

.icon {
    align-self: center;
}


.title,
.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
}

.rating,
.location {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.description {
    font-weight: 400;
    color: var(--text);
    margin-top: 8px;
}

.badges {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px 8px;

    flex-wrap: wrap;
}

.badge {
    display: flex;
    gap: 8px;
    border-radius: 100px;
    padding: 12px 18px;
    height: 48px;
    background: var(--badges);
    mix-blend-mode: multiply;

    text-wrap: nowrap;

}

.grayline {
    border: 1px solid var(--gray-light);
    width: 100%;
    height: 0px;
}

.subDetailsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
}


.overviewSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.reviewsBlock,
.reviewsList {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.review {
    border-radius: 16px;
    padding: 16px;
    background: var(--inputs);
    width: 100%;
    height: 100%;
}

.reviewer {
    display: flex;
    gap: 16px;
    align-items: center;
}

.avatar {
    border-radius: 60px;
    width: 60px;
    height: 60px;
}

.starsRating {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-top: 4px;
}


.starWrapper {
    position: relative;
    width: 16px;
    height: 16px;
}

.starGold {
    object-fit: contain;
}

.starGray {
    object-fit: contain;
    filter: grayscale(100%) opacity(1);
}

.reviewComment {
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);

    margin-top: 16px;
}

.bookBlock {
    width: 641px;
    height: 430px;
    background-color: aqua;
}